<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Add Vehicle</title>
</head>
<body>
<h1>Add Vehicle</h1>
<form th:action="@{/cars}" th:object="${addedVehicle}" method="post">
    <table>

        <tr>
            <td>Number VIN</td>
            <td>
                <input type="text" th:field="*{VehicleNrVin}"/>
            </td>
        </tr>

        <tr>
            <td>Production Year</td>
            <td>
                <input type="text" th:field="*{VehicleYear}"/>
            </td>
        </tr>



        <tr>
            <td>Manufacturer</td>
            <td>
                <input type="text" th:field="*{VehicleManufacturer}"/>
            </td>
        </tr>
        <tr>
            <td>Model</td>
            <td>
                <input type="text" th:field="*{VehicleModel}"/>
            </td>
        </tr>

        <tr>
            <td>Number OC</td>
            <td>
                <input type="text" th:field="*{VehicleNrOc}"/>
            </td>
        </tr>

        <tr>
            <td>Number registration car</td>
            <td>
                <input type="text" th:field="*{VehicleNrRegistrationCar}"/>
            </td>
        </tr>
        <tr>
            <td>Fuel</td>
            <td>
                <input type="text" th:field="*{VehicleFuel}"/>
            </td>
        </tr>

        <tr>
            <td>Mileage</td>
            <td>
                <input type="text" th:field="*{VehicleMileage}"/>
            </td>
        </tr>
        <tr>
            <td>Engine</td>
            <td>
                <input type="text" th:field="*{VehicleEngine}"/>
            </td>
        </tr>
        <tr>
            <td>Power</td>
            <td>
                <input type="text" th:field="*{VehiclePower}"/>
            </td>
        </tr>
        <tr>
            <td>Transmission</td>
            <td>
                <input type="text" th:field="*{VehicleTransmission}"/>
            </td>
        </tr>
        <tr>
            <td>Info</td>
            <td>
                <input type="text" th:field="*{VehicleInfo}"/>
            </td>
        </tr>




        <tr>
            <td>Price</td>
            <td>
                <input type="text" th:field="*{BuyPrice}"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Add Vehicle" />
            </td>
        </tr>
    </table>
</form>

</body>
</html>