<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
    <title>Strona Tytułowa</title>
</head>
<body style="background-color: darkgray">
<ul style="background-color: ghostwhite" class="nav justify-content-end">
    <div class="p-3 mb-2 bg-white text-dark; col-md-8">     CAR DEALER .... tu będzie jeżdżące autko></div>

    <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Search Car</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="logowanie.html">Login</a>
    </li>
</ul>

<div class="card; col-md-4" style="padding-top: 2%; padding-left: 20%; padding-bottom: 5%">
    <div class="card-body">

            <label for="województwo">Wybierz model</label>
            <select name=województwo" id="województwo">
                <option value="1">Audi</option>
                <option value="2">Ferrari</option>
                <option value="3" selected="selected">Fiat</option>
            </select>

        <label for="województwo">Wybierz marke</label>
        <select name=województwo" id="województwo">
            <option value="1">Audi</option>
            <option value="2">Ferrari</option>
            <option value="3" selected="selected">Fiat</option>
        </select>

        <label for="województwo">Wybierz rocznik od:</label>
        <select name=województwo" id="województwo">
            <option value="1">2010</option>
            <option value="2">2012</option>
            <option value="3" selected="selected">2014</option>
        </select>

        <label for="województwo">Wybierz rocznik do: </label>
        <select name=województwo" id="województwo">
            <option value="1">2014</option>
            <option value="2">2016</option>
            <option value="3" selected="selected">2018</option>
        </select>



    </div>


</div>
<div class="card text-center" style="width: 18rem; background-color: beige">
    <div class="card-body" style="padding-left: 10%">
        <h5 class="card-title">MENU</h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        <p></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        <p></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
<p></p>
<div class="card text-center" style="width: 18rem; background-color: cornflowerblue">
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

</body>
</html>