<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
    <title>Strona Tytułowa</title>
</head>
<body style="background-color: darkgray">
<ul style="background-color: ghostwhite" class="nav justify-content-end">
    <div class="p-3 mb-2 bg-white text-dark; col-md-8">     CAR DEALER .... tu będzie jeżdżące autko></div>

    <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Search Car</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="login.html">Login</a>
    </li>
</ul>


<p></p>
<div class="card text-center" style="width: 18rem; background-color: beige">
    <div class="card-body" style="padding-left: 10%">
        <h5 class="card-title">MENU</h5>
        <p class="card-text"></p>
        <a href="index.html" class="btn btn-primary">Strona główna</a>
        <p></p>
        <a href="vehicles" class="btn btn-primary">Przeglądaj samochody</a>
        <p></p>
        <a href="#" class="btn btn-primary">Kontakt</a>
    </div>
</div>
<p></p>
<div class="card text-center" style="width: 18rem; background-color: beige">
    <div class="card-body">
        <h5 class="card-title">Panel klienta</h5>
        <p class="card-text">Po zalogowaniu będą dostępne opcje</p>
        <a href="login" class="btn btn-primary">Zaloguj</a>
        <p></p>
        <a href="customer/new" class="btn btn-primary">Zarejestruj</a>
    </div>
</div>
</body>

</html>