<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
    <title>Avilable Cars</title>
</head>
<body>
<span class="border border-dark">
<h1>Avilable Cars</h1>
</span>

<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Manufacturer</th>
        <th>Model</th>
        <th>Production Year</th>
        <th>Mileage</th>
        <th>Fuel</th>
        <th>Price</th>
        <th>Info</th>
        <th>Action</th>
    </tr>
    <tr th:each="vehicle , index : ${vehicleList}">
        <td th:text="${vehicle.id}"/>
        <td th:text="${vehicle.manufacturer}"/>
        <td th:text="${vehicle.model}"/>
        <td th:text="${vehicle.year}"/>
        <td th:text="${vehicle.mileage}"/>
        <td th:text="${vehicle.fuel}"/>
        <td th:text="${vehicle.price}"/>
        <td><a th:href="@{/vehicles/{vehId}/sell(vehId=${vehicle.id})}" th:text="Sell"/></td>
    </tr>
</table>




</body>
</html>