<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
    <title>Avilable Cars</title>
</head>
<body>
<span class="border border-dark">
<h1>Avilable Cars</h1>
</span>
<table class="table table-striped">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Nr vin</th>
        <th scope="col">Production Year</th>
        <th scope="col">Manufacturer</th>
        <th scope="col">Model</th>
        <th scope="col">Nr OC</th>
        <th scope="col">Fuel</th>
        <th scope="col">Mileage</th>
        <th scope="col">Engine</th>
        <th scope="col">Power</th>
        <th scope="col">Transmission</th>
        <th scope="col">Info</th>

    </tr>

    <tr th:each="vehicle , index : ${vehicles1}">

        <td th:text="${vehicle.id}"/>

        <td th:text="${vehicle.nrVin}"/>

        <td th:text="${vehicle.year}"/>

        <td th:text="${vehicle.manufacturer}"/>

        <td th:text="${vehicle.model}"/>

        <td th:text="${vehicle.nrOc}"/>
        <td th:text="${vehicle.fuel}"/>
        <td th:text="${vehicle.mileage}"/>
        <td th:text="${vehicle.engine}"/>
        <td th:text="${vehicle.power}"/>
        <td th:text="${vehicle.transmission}"/>
        <td th:text="${vehicle.info}"/>


        <td><a th:href="@{/cars/{carId}/desc(carId=${vehicle.id})}">szczegóły</a></td>
        </div>

    </tr>


</table>


</body>
</html>