<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Avilable Cars</title>
</head>
<body>
<h1>Avilable Cars</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Nr vin</th>
        <th>Production Year</th>
        <th>Manufacturer</th>
        <th>Model</th>
        <th>Nr OC</th>
        <th>Fuel</th>
        <th>Mileage</th>
        <th>Engine</th>
        <th>Power</th>
        <th>Transmission</th>
        <th>Info</th>
        <th>Test Drivers</th>
    </tr>

    <tr th:each="vehicle , index : ${vehicles1}">



        <td th:text="${vehicle.year}"/>

        <td th:text="${vehicle.manufacturer}"/>

        <td th:text="${vehicle.model}"/>





    </tr>
</table>

</body>
</html>